<div class="signup-container" >    
    <div class ="signup-inner-container">
        <div>
           <h1> Login </h1>   
           <div class="notifyCls">Invalid User credentails!!!</div>
        </div>
        <div class="input-container">
               <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Email Id*</label>
                    <input class="form-control" formControlName="email" value="" type="text" />
                </div>
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.email">
                        <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
    
                <div class="form-group">
                    <label>Password*</label>
                    <input class="form-control" formControlName="password" value="chottu" type="password" />
                </div>
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.password">
                        <div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>    
          <br/>
                <button class="form-control btn btn-primary btnSignUpSubmit" [disabled]="!loginForm.valid" onclick>Signup</button>
            </form>
            <br/><br/>
            <div style="text-align:right"> <a routerLink = "/signup">New User !!!  Register Now.</a> </div><br/>        </div>
        
    </div>        
    
  </div>
  <router-outlet></router-outlet>